{% extends "main.html" %}
{% from "_macros.html" import render_messages %}
{% block title %}Announcements{% endblock %}
{% block body %}
    <div class="bg-light clearfix p-3">
        <h2 class="float-start">{{ title }}</h2>
        <a href="{{ url_for('ca.add_announcement') }}" class="btn btn-primary float-end">Add {{ title }}</a>
    </div>
    {{ render_messages() }}
    {% if announcements %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Teams</th>
                <th scope="col">Added By</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for announcement in announcements %}
                <tbody>
                <tr>
                    <td>{{ announcement.title }}</td>
                    <td>
                        {% for team in announcement.teams %}
                            {{ team.name }}
                        {% endfor %}
                    </td>
                    <td>{{ announcement.added_by.first_name }} {{ announcement.added_by.last_name }} ({{ announcement.added_by.ca_reg_number }})</td>
                    <td>
                        <a href="{{ url_for("ca.get_announcement", announcement_id=announcement.id) }}" class="card-link">View</a>
                        <a href="{{ url_for('ca.edit_announcement', announcement_id=announcement.id) }}" class="px-1">Edit</a>
                        <a href="{{ url_for('ca.delete_announcement', announcement_id=announcement.id) }}" class="px-1">Delete</a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <h3>No Announcements have been added</h3>
    {% endif %}
{% endblock %}