{% extends "main.html" %}
{% from "_macros.html" import render_field, render_field_with_value, render_mul_select_field, render_mul_select_field_with_values, render_messages %}
{% block title %}Activity{% endblock %}
{% block body %}
    <h2 class="h1">{{ title }}</h2>
    {{ render_messages() }}
    {% if action == 'add' %}
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.add_activity') }}">
            {{ form.csrf_token() }}
            {{ render_field(form.title) }}
            {{ render_field(form.description) }}
            {{ render_field(form.activityDate) }}
            {{ render_mul_select_field(form.teams) }}
            <hr class="my-4">
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
    {% elif action == 'edit' %}
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.edit_activity', activity_id=activity['id']) }}">
            {{ form.csrf_token() }}
            {{ render_field_with_value(form.title, activity['title']) }}
            {{ render_field_with_value(form.description, activity['description']) }}
            {{ render_field_with_value(form.activityDate, activity['activityDate']) }}
            {{ render_mul_select_field_with_values(form.teams, activity['teams']) }}
            <hr class="my-4">
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
    {% endif %}
{% endblock %}
