{% extends "main.html" %}
{% from "_macros.html" import render_messages %}
{% block title %}Teams{% endblock %}
{% block body %}
    {% if 'Admin' in user.roles or 'Admin Council' in user.roles %}
        <div class="bg-light clearfix p-3">
            <a href="{{ url_for('ca.add_team') }}" class="btn btn-primary float-end">Add {{ title }}</a>
        </div>
    {% endif %}
    {{ render_messages() }}
    <h2 class="float-start">{{ title }}</h2>
    {% if teams %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Member Count</th>
                {% if 'Admin' in user.roles or 'Admin Council' in user.roles %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
            </thead>
            {% for team in teams %}
                <tbody>
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.description }}</td>
                    <td>{{ team.email }}</td>
                    <td>{{ team.telephone }}</td>
                    <td>{{ team.member_count }}</td>
                    {% if 'Admin' in user.roles or 'Admin Council' in user.roles %}
                        <td>
                            <a href="{{ url_for('ca.list_members', filter_by='team_' + team.id|string) }}" class="px-1">Members</a>
                            <a href="{{ url_for('ca.edit_team', team_id=team.id) }}" class="px-1">Edit</a>
                            <a href="{{ url_for('ca.delete_team', team_id=team.id) }}" class="px-1">Delete</a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <h3>No teams have been added</h3>
    {% endif %}
{% endblock %}