{% extends "main.html" %}
{% from "_macros.html" import render_field, render_field_with_value %}
{% block title %}Team{% endblock %}
{% block body %}
    <div class="container mb-5">
        <h2 class="h1">{{ title }}</h2>
        {{ render_messages() }}
        {% if action == 'add' %}
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.add_team') }}">
                {{ form.csrf_token() }}
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.telephone) }}
                {{ render_field(form.description) }}
                <hr class="my-4">
                {{ form.submit(class='btn btn-primary btn-lg') }}
            </form>
        {% elif action == 'edit' %}
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.edit_team', team_id=team['id']) }}">
                {{ form.csrf_token() }}
                {{ render_field_with_value(form.name, team['name']) }}
                {{ render_field_with_value(form.email, team['email']) }}
                {{ render_field_with_value(form.telephone, team['telephone']) }}
                {{ render_field_with_value(form.description, team['description']) }}
                <hr class="my-4">
                {{ form.submit(class='btn btn-primary btn-lg') }}
            </form>
        {% endif %}
    </div>
{% endblock %}
