{% extends "main.html" %}
{% from "_macros.html" import render_messages %}
{% block title %}Files{% endblock %}
{% block body %}
    <div class="bg-light clearfix p-3">
        <h2 class="float-start">{{ title }}</h2>
        <a href="{{ url_for('ca.upload_file') }}" class="btn btn-primary float-end">Add File</a>
    </div>
    {{ render_messages() }}
    {% if files %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Teams</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for file in files %}
                <tbody>
                <tr>
                    <td><a href="{{ url_for('ca.download_file', file_id=file.id) }}" target="_blank">{{ file.name }}</a></td>
                    <td>{{ file.create_date }}</td>
                    <td>
                        {% for team in file.teams %}
                            {{ team.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('ca.edit_file', file_id=file.id) }}" class="px-1">Edit</a>
                        <a href="{{ url_for('ca.delete_file', file_id=file.id) }}" class="px-1">Delete</a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <h3>No Files have been added</h3>
    {% endif %}
{% endblock %}