{% extends "main.html" %}
{% from "_macros.html" import render_messages %}
{% block title %}Announcements{% endblock %}
{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="h1">{{ title }}</h2>
        <a class="btn btn-primary btn-lg" href="{{ url_for('ca.add_transaction') }}">Add Transaction</a>
    </div>
    <hr class="intro-divider">
    {{ render_messages() }}
    {% if transactions %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Team</th>
                <th scope="col">Added By</th>
                <th scope="col">Date</th>
                <th scope="col">Updated By</th>
                <th scope="col">Update Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td class="text-{{ 'success' if transaction.amount >= 0 else 'danger' }}">
                                <div>{{ transaction.amount }}</div>
                                <div>{{ transaction.commission.amount }}</div>
                            </td>
                            <td>
                                <span>{{ transaction.description }}</span>
                                <div>{{ transaction.commission.description }}</div>
                            </td>
                            <td>
                                <span>{{ transaction.team }}</span>
                                <div>{{ transaction.commission.team }}</div>
                            </td>
                            <td>{{ transaction.added_by }}</td>
                            <td>{{ transaction.create_date }}</td>
                            <td>{{ transaction.updated_by }}</td>
                            <td>{{ transaction.update_date }}</td>
                            <td>
                                <a href="{{ url_for('ca.edit_transaction', transaction_id=transaction.id) }}" class="px-1">Edit</a>
                                <a href="{{ url_for('ca.delete_transaction', transaction_id=transaction.id) }}" class="px-1">Delete</a>
                            </td>
                        </tr>
{#                        {% for commission in transaction.commissions %}#}
{#                            <tr>#}
{#                                <td>{{ commission.amount }}</td>#}
{#                                <td>{{ commission.description }}</td>#}
{#                                <td>Culture Association</td>#}
{#                                <td>{{ transaction.added_by }}</td>#}
{#                                <td>{{ transaction.create_date }}</td>#}
{#                                <td>{{ transaction.updated_by }}</td>#}
{#                                <td>{{ transaction.update_date }}</td>#}
{#                                <td></td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                    {% endfor %}
                </tbody>
        </table>
    {% else %}
        <h3>No Transactions have been added</h3>
    {% endif %}
{% endblock %}