{% extends "main.html" %}
{% from "_macros.html" import render_field, render_field_with_value, render_messages %}
{% block title %}Transaction{% endblock %}
{% block body %}
    <h2 class="h1">{{ title }}</h2>
    {{ render_messages() }}
    {% if action == 'add' %}
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.add_transaction') }}">
            {{ form.csrf_token() }}
            {{ render_field(form.amount) }}
            {{ render_field(form.description) }}
            {{ render_field(form.treasury) }}
            <div class="checkbox mb-3">
                {{ form.ca_fee(class='form-check-input') }}
                {{ form.ca_fee.label(class='form-check-label') }}
            </div>
            <div class="collapse" id="memberCollapse">
                <div class="card card-body">
                    {{ render_field(form.member) }}
                </div>
            </div>
            <hr class="my-4">
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
    {% elif action == 'edit' %}
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.edit_transaction', transaction_id=transaction.id) }}">
            {{ form.csrf_token() }}
            {{ render_field_with_value(form.amount, transaction.amount + transaction.assoc_transaction.amount) if transaction.assoc_transaction else render_field_with_value(form.amount, transaction.amount) }}
            {{ render_field_with_value(form.description, transaction.description) }}
            {{ render_field_with_value(form.treasury, transaction.treasury.id) }}
            <div class="checkbox mb-3">
                {{ form.ca_fee(class='form-check-input', checked='') if transaction.member else form.ca_fee(class='form-check-input') }}
                {{ form.ca_fee.label(class='form-check-label') }}
            </div>
            <div class="collapse" id="memberCollapse">
                <div class="card card-body">
                    {{ render_field(form.member) }}
                </div>
            </div>
            <hr class="my-4">
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
{#    {% elif action == 'transfer' %}#}
{#        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('ca.transfer_money') }}">#}
{#            {{ form.csrf_token() }}#}
{#            {{ render_field(form.amount) }}#}
{#            {{ render_field(form.from_treasury) }}#}
{#            {{ render_field(form.to_treasury) }}#}
{#            <hr class="my-4">#}
{#            {{ form.submit(class='btn btn-primary btn-lg') }}#}
{#        </form>#}
    {% endif %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const checkbox = document.getElementById("ca_fee");
            const collapsible = document.getElementById("memberCollapse");

            if (checkbox.checked)
                new bootstrap.Collapse(collapsible, {show: true});

            checkbox.addEventListener('change', (e) => {
                if (checkbox.checked)
                    new bootstrap.Collapse(collapsible, {show: true});
                else
                    new bootstrap.Collapse(collapsible, {hide: true});
            });
        });
    </script>
{% endblock %}
