<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a href="{{ url_for('public.homepage') }}" class="nav-link px-2 text-secondary">Αρχική</a></li>
                    <li><a href="{{ url_for('public.about') }}" class="nav-link px-2 text-white">Σχετικά</a></li>
                    <li><a href="{{ url_for('public.teams') }}" class="nav-link px-2 text-white">Ομάδες</a></li>
                    <li><a href="{{ url_for('public.faq') }}" class="nav-link px-2 text-white">FAQs</a></li>
                </ul>
                <div class="mb-2 mb-lg-0">
                    <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Αίτηση Εγγραφής</a>
                </div>
            </div>
        </div>
    </nav>
</header>