{% from "./macros/_formhelpers.html" import render_field %}
{% extends "./main.html" %}
{% block title %}Announcement{% endblock %}
{% block body %}
    {% if add_announcement %}
        <div class="py-5 text-center">
            <h2>Add a new announcement</h2>
        </div>
        <div class="container mb-5 mx-auto">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="message" class="alert alert-danger" role="alert">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post"
                  action="{{ url_for('ca.add_announcement') }}">
                {{ form.csrf_token() }}
                <div class="row">
                    <div class="col-12">
                        <fieldset>
                            <legend>Στοιχεία</legend>
                            {{ render_field(form.title) }}
                            {{ render_field(form.description) }}
                            {{ render_field(form.createDate) }}
                        </fieldset>
                    </div>
                </div>
                <div class="row g-3">
                    <hr class="my-4">
                    {{ form.submit(class='btn btn-primary btn-lg') }}
                </div>
            </form>
        </div>
    {% else %}
        <div class="py-5 text-center">
            <h2>Edit {{ announcement.title }}</h2>
        </div>
        <div class="container mb-5 mx-auto">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="message" class="alert alert-danger" role="alert">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post"
                  action="{{ url_for('ca.edit_announcement', announcement_id=announcement.id) }}">
                {{ form.csrf_token() }}
                <div class="row">
                    <div class="col-12">
                        <fieldset>
                            <legend>Στοιχεία</legend>
                            {{ render_field(form.title) }}
                            {{ render_field(form.description) }}
                            {{ render_field(form.createDate) }}
                        </fieldset>
                    </div>
                </div>
                <div class="row g-3">
                    <hr class="my-4">
                    {{ form.submit(class='btn btn-primary btn-lg') }}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
