{% extends "main.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <a href="{{ url_for('ca.add_file') }}">Add File</a>
    {% if files %}
        <h1>{{ files.title }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>
{#                        <a href="{{ url_for('ca.get_team', id=team.id) }}">{{ team.name }}</a>#}
                        {{ file.name }}
                    </td>
                    <td>{{ file.path }}</td>
                    <td>{{ file.type }}</td>
{#                    <td>#}
{#                        <a href="{{ url_for('ca.edit_file', file_id=file.id) }}">Edit</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a href="{{ url_for('ca.delete_file', file_id=file.id) }}">Delete</a>#}
{#                    </td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No files have been uploaded yet</h3>
    {% endif %}
    <a href="{{ url_for('ca.add_announcement') }}">Add Announcement</a>
    {% if announcements %}
        <h1>{{ announcements.title }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created on</th>
                </tr>
            </thead>
            <tbody>
                {% for announcement in announcements %}
                <tr>
                    <td>
{#                        <a href="{{ url_for('ca.get_team', id=team.id) }}">{{ team.name }}</a>#}
                        {{ announcement.title }}
                    </td>
                    <td>{{ announcement.description }}</td>
                    <td>{{ announcement.createDate }}</td>
                    <td>
                        <a href="{{ url_for('ca.edit_announcement', announcement_id=announcement.id) }}">Edit</a>
                    </td>
                    <td>
                        <a href="{{ url_for('ca.delete_announcement', announcement_id=announcement.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No announcements have been uploaded yet</h3>
    {% endif %}
{% endblock %}