{% extends "main.html" %}
{% from "_macros.html" import render_field, render_field_with_value, render_messages %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="bg-light clearfix p-3">
        <div class="float-start d-flex align-items-center">
            <div class="dropdown me-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Group By</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('ca.dashboard', filter_by='team') }}">Team</a></li>
                </ul>
            </div>
            <div class="dropdown me-2 float-start">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter By</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('ca.dashboard') }}">All</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('ca.dashboard', filter_by="common") }}">Πολιτιστικός Σύλλογος</a></li>
                    {% for team in teams %}
                        <li><a class="dropdown-item" href="{{ url_for('ca.dashboard', filter_by='team_' + team.id|string) }}">{{ team.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {{ render_messages() }}
    <div class="text-center my-4">
        {% for key in announcements %}
            {% if announcements[key] %}
                <h2>{{ key }} <b>Announcements</b></h2>
                <div class="row mb-5">
                    {% for announcement in announcements[key] %}
                        <div class="col-12 col-sm-4 col-md-3 align-self-center">
                            <div class="card mb-3" style="">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ announcement.title }} </h5>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{ announcement.create_date.strftime('%d-%m-%Y') }} </h6>
                                    <p class="card-text text-limiter"> {{ announcement.body }} </p>
                                    <a href="{{ url_for("ca.get_announcement", announcement_id=announcement.id) }}"
                                       class="card-link">View Announcement</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="">
            <a href="{{ url_for("ca.list_announcements") }}">View All Announcements</a>
        </div>
        <hr class="intro-divider">
        {% for key in activities %}
            {% if activities[key] %}
                <h2>{{ key }} <b>Activities</b></h2>
                <div class="row mb-5">
                    {% for activity in activities[key] %}
                        <div class="col-12 col-sm-4 col-md-3 align-self-center">
                            <div class="card mb-3" style="">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ activity.title }} </h5>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{ activity.start_date.strftime('%d-%m-%Y') }} </h6>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{ activity.start_time }} </h6>
                                    <p class="card-text text-limiter"> {{ activity.body }} </p>
                                    <a href="{{ url_for("ca.get_activity", activity_id=activity.id) }}"
                                       class="card-link">View Activity</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="">
            <a href="{{ url_for("ca.list_activities") }}">View All Activities</a>
        </div>
    </div>
{% endblock %}