{% from "./macros/_formhelpers.html" import render_field, render_field_with_value %}
{% extends "main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="">{{ title }}</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                Add
            </button>
        </div>
        {% if institutions %}
            <hr class="intro-divider">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Abbreviation</th>
                    <th scope="col">Member Count</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for institution in institutions %}
                    <tr id="{{ institution['id'] }}">
                        <td>
                            <a href="{{ url_for('ca.schools_by_institution', institution_id=institution['id']) }}">{{ institution['name'] }}</a>
                        </td>
                        <td>{{ institution['abbreviation'] }}</td>
                        <td>{{ institution['member_count'] }}</td>
                        <td>
                            <a href="">Members</a>
                            |
                            <a href="">Edit</a>
                            |
                            <a href="">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3> No institutions have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Add Institution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{{ url_for('ca.all_institutions') }}">
                    {{ form.csrf_token() }}
                    <div class="modal-body">
                        {{ render_field(form.name) }}
                        {{ render_field(form.abbreviation) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
