{% from "./macros/_formhelpers.html" import render_field, render_field_with_value %}
{% extends "main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="">{{ school['name'] if school }} {{ title }}</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                Add {{ title }}
            </button>
        </div>
        {% if uni_entities %}
            <hr class="intro-divider">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="message" class="alert alert-danger" role="alert">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Member Count</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in uni_entities %}
                    <tr id="{{ entry['id'] }}">
                        <td>
                            {% if current_entity == 'schools' %}
                                <a href="{{ url_for('ca.list_departments', school_id=entry['id']) }}">{{ entry['name'] }}</a>
                            {% else %}
                                {{ entry['name'] }}
                            {% endif %}
                        </td>
                        <td>{{ entry['description'] }}</td>
                        <td>{{ entry['member_count'] }}</td>
                        <td>
                            <a href="" class="px-1">Members</a>
                            <a href="" class="px-1">Edit</a>
                            {% if current_entity == 'schools' %}
                                <a href="{{ url_for('ca.delete_school', school_id=entry['id']) }}" class="px-1">Delete</a>
                            {% elif current_entity == 'departments' %}
                                <a href="{{ url_for('ca.delete_department', school_id=school['id'], department_id=entry['id']) }}" class="px-1">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3> No schools have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Add School</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{{ url_for(add_entity, school_id=school['id']) if school else url_for(add_entity) }}">
                    {{ form.csrf_token() }}
                    <div class="modal-body">
                        {{ render_field(form.name) }}
                        {{ render_field(form.description) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
