{% macro render_field(field) %}
    <div class="form-floating mb-3">
        {{ field() }}
        {{ field.label }}
        {% if field.errors %}
            <div class="text-danger">{{ field.errors[0] }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_mul_select_field(field) %}
    <div class="mb-3">
        {{ field(size=field.size) }}
        {{ field.label(class='d-none') }}
        <span>You can select multiple teams by holding the <b>Ctrl</b> key</span>
        {% if field.errors %}
            <div class="text-danger">{{ field.errors[0] }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_mul_select_field_with_values(field, values) %}
    <div class="mb-3">
        <select name="{{ field.name }}" id="{{ field.id }}" class="form-control mb-3" size="{{ field.size }}" multiple required>
            {% for option in field.choices %}
                <option value="{{ option[0] }}" {% for v in values %}{{ 'selected' if v.id == option[0] }}{% endfor %}>{{ option[1] }}</option>
            {% endfor %}
        </select>
        {{ field.label(class='d-none') }}
        <span>You can select multiple entities by holding the <b>Ctrl</b> key</span>
        {% if field.errors %}
            <div class="text-danger">{{ field.errors[0] }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_field_with_value(field, value) %}
    <div class="form-floating mb-3">
        {% if field.choices %}
            <select name="{{ field.name }}" id="{{ field.id }}" class="form-control" required>
                {% for option in field.choices %}
                    <option value="{{ option[0] }}" {{ "selected" if value == option[0] }}>{{ option[1] }}</option>
                {% endfor %}
            </select>
        {% else %}
            {{ field(class='form-control', placeholder='', value=value) }}
        {% endif %}
        {{ field.label }}
        {% if field.errors %}
            <div class="text-danger">{{ field.errors[0] }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_messages() %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="message" class="alert alert-info" role="alert">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
{% endmacro %}
