{% extends "main.html" %}
{% from "_macros.html" import render_field, render_messages %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="col-xl-10 col-xxl-8 px-4 py-5 mx-auto">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h2 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h2>
                <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each
                    required form group has a validation state that can be triggered by attempting to submit the form
                    without completing it.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                {{ render_messages()}}
                <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="{{ url_for('auth.login') }}">
                    <h2>Συνδέσου</h2>
                    {{ form.csrf_token() }}
                    <div class="row g-3">
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        <div class="checkbox mb-3">
                            {{ form.remember_me(class='form-check-input') }}
                            {{ form.remember_me.label(class='form-check-label') }}
                        </div>
                    </div>
                    {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}