{% from "./macros/_formhelpers.html" import render_field %}
{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="py-5 text-center">
        <h2>Φόρμα Αίτησης Εγγραφής</h2>
        <p class="lead">Καταχωρίστε σωστά τα στοιχεία σας για να κάνετε αίτηση εγγραφής.</p>
    </div>
    <div class="register-container mb-5 mx-auto">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ url_for('auth.register') }}">
            {{ form.csrf_token() }}
            <div class="row g-3">
                {{ render_field(form.first_name, 'col-md-6') }}
                {{ render_field(form.last_name, 'col-md-6') }}
                {{ render_field(form.username, 'col-12') }}
                {{ render_field(form.email, 'col-12') }}
                {{ render_field(form.password, 'col-12') }}
                {{ render_field(form.confirm_password, 'col-12') }}
                {{ render_field(form.telephone, 'col-12') }}
                {{ render_field(form.semester, 'col-12') }}
                {{ render_field(form.uni_reg_number, 'col-12') }}
                {{ render_field(form.city, 'col-md-6') }}
                {{ render_field(form.address, 'col-md-6') }}
                <hr class="my-4">
                {{ form.submit(class='btn btn-warning btn-lg') }}
            </div>
        </form>
    </div>
{% endblock %}
