{% extends "main.html" %}
{% block title %}Teams{% endblock %}
{% block body %}
    <article class="m-5">
        <h2>Team 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis earum eligendi et excepturi
            hic, laboriosam maxime mollitia nesciunt odit, officia pariatur quidem, tempore totam ullam? Autem
            cumque
            dolore doloremque id illum maxime neque nulla, officiis rem soluta suscipit ut voluptas. Beatae expedita
            ipsa iure laudantium non, officiis ratione sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda corporis delectus,
            distinctio
            dolorem illum itaque laudantium minima, nam neque praesentium tempore vel voluptate. Delectus
            exercitationem
            explicabo hic laudantium rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores assumenda
            consequatur
            consequuntur deleniti ipsum iure, obcaecati quaerat qui ratione reprehenderit ut veniam veritatis
            voluptate!
            Accusantium ad asperiores consequuntur debitis distinctio dolor dolorem ducimus eaque ipsam itaque
            magni,
            maiores modi molestiae necessitatibus neque nihil nobis nulla perferendis, provident quae quas quasi qui
            quo
            recusandae, repellendus reprehenderit sed sit voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus error itaque labore maxime
            necessitatibus
            nobis, nulla perspiciatis quo repudiandae totam.</p>
    </article>
    <article class="p-5">
        <h2>Team 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis earum eligendi et excepturi
            hic, laboriosam maxime mollitia nesciunt odit, officia pariatur quidem, tempore totam ullam? Autem
            cumque
            dolore doloremque id illum maxime neque nulla, officiis rem soluta suscipit ut voluptas. Beatae expedita
            ipsa iure laudantium non, officiis ratione sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda corporis delectus,
            distinctio
            dolorem illum itaque laudantium minima, nam neque praesentium tempore vel voluptate. Delectus
            exercitationem
            explicabo hic laudantium rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores assumenda
            consequatur
            consequuntur deleniti ipsum iure, obcaecati quaerat qui ratione reprehenderit ut veniam veritatis
            voluptate!
            Accusantium ad asperiores consequuntur debitis distinctio dolor dolorem ducimus eaque ipsam itaque
            magni,
            maiores modi molestiae necessitatibus neque nihil nobis nulla perferendis, provident quae quas quasi qui
            quo
            recusandae, repellendus reprehenderit sed sit voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus error itaque labore maxime
            necessitatibus
            nobis, nulla perspiciatis quo repudiandae totam.</p>
    </article>
    <article class="p-5">
        <h2>Team 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis earum eligendi et excepturi
            hic, laboriosam maxime mollitia nesciunt odit, officia pariatur quidem, tempore totam ullam? Autem
            cumque
            dolore doloremque id illum maxime neque nulla, officiis rem soluta suscipit ut voluptas. Beatae expedita
            ipsa iure laudantium non, officiis ratione sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda corporis delectus,
            distinctio
            dolorem illum itaque laudantium minima, nam neque praesentium tempore vel voluptate. Delectus
            exercitationem
            explicabo hic laudantium rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores assumenda
            consequatur
            consequuntur deleniti ipsum iure, obcaecati quaerat qui ratione reprehenderit ut veniam veritatis
            voluptate!
            Accusantium ad asperiores consequuntur debitis distinctio dolor dolorem ducimus eaque ipsam itaque
            magni,
            maiores modi molestiae necessitatibus neque nihil nobis nulla perferendis, provident quae quas quasi qui
            quo
            recusandae, repellendus reprehenderit sed sit voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus error itaque labore maxime
            necessitatibus
            nobis, nulla perspiciatis quo repudiandae totam.</p>
    </article>
    <article class="p-5">
        <h2>Team 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis earum eligendi et excepturi
            hic, laboriosam maxime mollitia nesciunt odit, officia pariatur quidem, tempore totam ullam? Autem
            cumque
            dolore doloremque id illum maxime neque nulla, officiis rem soluta suscipit ut voluptas. Beatae expedita
            ipsa iure laudantium non, officiis ratione sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda corporis delectus,
            distinctio
            dolorem illum itaque laudantium minima, nam neque praesentium tempore vel voluptate. Delectus
            exercitationem
            explicabo hic laudantium rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores assumenda
            consequatur
            consequuntur deleniti ipsum iure, obcaecati quaerat qui ratione reprehenderit ut veniam veritatis
            voluptate!
            Accusantium ad asperiores consequuntur debitis distinctio dolor dolorem ducimus eaque ipsam itaque
            magni,
            maiores modi molestiae necessitatibus neque nihil nobis nulla perferendis, provident quae quas quasi qui
            quo
            recusandae, repellendus reprehenderit sed sit voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus error itaque labore maxime
            necessitatibus
            nobis, nulla perspiciatis quo repudiandae totam.</p>
    </article>
{% endblock %}